* {
	margin:0;
	padding:50;
	box-sizing: border-box;
}

html {
	line-height: 1.6;
	font-family: sans-serif;
	color:#202020;
}

.code {
	background-color:#000000;
	color:#ffffff;
	font-family: 'Arvo';
}



