* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html {
	line-height: 1.6;
	font-family: sans-serif;
	color:#202020;
}

main {
	margin-left:4em;
	margin-right:4em;
	margin-top: 3em;
}

div {
	padding:1em 0em 1em 0em;
}

.code {
	background-color:#000000;
	padding-left:3em;
	color:#ffffff;
	font-family: 'Arvo';
}



