* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html {
	line-height: 1.6;
	font-family: sans-serif;
	color:#202020;
}

div {
	padding:4em 8em 4em 8em;
}

.code {
	background-color:#000000;
	margin-left:3em;
	color:#ffffff;
	font-family: 'Arvo';
}



