* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html {
	line-height: 1.6;
	font-family: sans-serif;
	color:#202020;
}

body {
	height:100vh;
	background-image: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,.75) 15% 85%,rgba(255,255,255,0)),url('../img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	}

a {
	text-decoration: none;
	color:#008080;
}

a:hover {
	text-decoration: underline;
}

img {
	display:block;
	max-width:100%;
}

#Grid {

	
	max-width: 1920px;
	margin:0 auto;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 260px 80px auto auto;
	grid-template-areas: 
		". header header header ."
		". nav nav nav ."
		". content content content ."
		". footer footer footer ."
	;
	

}

header {
	grid-area: header;

	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	padding:2em;
	text-align: center;
}

nav {
	grid-area:nav;
}

#ArtMenu ul {
	list-style-type: none;

	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

#ArtMenu ul li {
	font-family:'Syne',sans-serif;
	font-size:2rem;
}

main {
	grid-area:content;
	padding:3em;
	line-height: 1.8;

	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}

h1 {
	font-family: 'Syne',sans-serif;
	font-size: 4rem;
}

h2 {
	font-family:'Syne',sans-serif;
}

#Gallery {
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
}

.imgColumn {
	flex:33%;
	max-width:33%;
	padding:.2em;
}

.imgColumn img {
	border:2px solid #dddddd;
	margin:.4em .2em .4em .2em;
}

footer {
	grid-area: footer;
	padding:3em;
	margin-bottom:2em;
}

footer p {
	border:3px solid #468686;
	padding:.6em;
}


/*MEDIA QUERIES*/
@media (max-width:540px) {

	body {
		background:none;
	}

	#Grid {
		width:100%;
		margin:0;
		display:grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto;
		grid-template-areas: 
			"header"
			"nav"
			"content"
			"footer"
		;
	}

	#ArtMenu ul {
		display:flex;
		flex-direction: column;
		align-items: center;
	}

	#ArtMenu ul li {
		font-size:1rem;
	}

	main {
		padding:1em;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size:1.2em;
	}

	#Gallery {
		margin:0;
		padding:0;
		flex-direction:column;
		flex-wrap: nowrap;
	}
	
	.imgColumn {
		flex:100%;
		max-width:100%;
		padding:0;
		margin:0;
	}

	.imgColumn img {
		border:2px solid #eeeeee;
		margin:.4em;
	}

	footer {
		padding:1em;
	}

	footer p {
		font-size:.8rem;
	}
}