html {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	line-height: 1.6;
	font-family: sans-serif;
}

body {
	background-color:#181818;
	height:100%;
	width:100%;
	margin:0;
	padding:0
}

#Layout {
	height:100%;
	width:100%;
	display:grid;
	grid-template-columns: 300px 1fr 1fr 1fr 300px;
	grid-template-rows: 280px auto 1fr;
	grid-template-areas: 
		". header header header ."
		". sideMenu content content ."
		". footer content content ."
	;

}

a {
	text-decoration: none;
	color:#FFD700;
}

header {
	grid-area: header;
	background-color: #181818;
	border-left:8px ridge #ffffff;
	border-right:8px ridge #ffffff;
	border-bottom:8px ridge #ffffff;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding:4rem;

	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
}

h1,h4 {
	margin: 0;
	padding:0;
	font-family: 'Press Start 2P',sans-serif;
	color:#ffffff;
}

h4 {
	color:green;
}

nav {
	display:flex;
	flex-direction: row;
}

nav ul {
	margin:0;
	padding:0;
	list-style-type: none;

	display:flex;
	flex-direction: row;
	align-items: flex-end;
}

nav ul li {
	margin-left:2rem;
	font-family: 'Press Start 2P',sans-serif;
}

main {
	line-height: 2;
	margin:4rem 0 4rem 0;
	padding:0;
	grid-area:content;
	
	border:2px dashed purple;


	overflow: hidden;
}

main p {
	color:#ffffff;
}

.slide {
	box-sizing: border-box;
	height:100%;
	width:100%;
	padding: 0;
	margin:0;
}

.slide img {
	display:block;
	max-height: 100%;
	border:8px ridge #ffffff;
	border-radius: 6px;
}


footer {
	grid-area: footer;
	margin:0 4rem 4rem 0;
	padding:2rem;
	background-color: #181818;
	border-radius: 6px;
	border: 8px ridge #ffffff;
	color:#ffffff;
	font-size:.8rem;
	font-style: italic;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer {
	font-family: 'Press Start 2P',sans-serif;
	font-size:12px;
}

#ArtMenu {
	grid-area:sideMenu;
	display:flex;
	flex-direction: column;
}

#ArtMenu ul {
	list-style-type: none;
	padding:4rem 4rem 4rem 0;
	margin:0;

	display:flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

#ArtMenu ul li {
	padding:1em;
	margin-top:0;
	margin-bottom:2rem;
	color:#ffffff;
	font-family: 'Press Start 2P',sans-serif;
	font-size:1.4rem;
}

#ArtMenu ul li:before {
	content:'';
}

#ArtMenu ul li:hover {
	animation-name: glow;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#ArtMenu ul li:hover::after{
	content:' >>';
}


.svgs {
	width:128px;
	height:128px;
}

@keyframes glow {
	0%   {opacity: 1;}
	50%  {opacity:0;}
	100% {opacity:1;}
}